<div class="card-scanner">
  <video
    class="card-scanner-video"
    #video>
  </video>
  <section class="card-scanner-footer">
    <button
      mat-button
      (click)="onClickSelectDevice()">
      <mat-icon>videocam_outlined</mat-icon>
      @if (deviceControl.value) {
      {{ deviceControl.value.label }}
      } @else {
      {{ 'CARDS.CARD.SCAN.SELECT_SOURCE' | translate }}
      }
    </button>
    <button
      mat-button
      class="accent-color"
      (click)="fileInput.click()">
      <mat-icon>image</mat-icon>
      {{ 'CARDS.CARD.SCAN.FROM_FILE' | translate }}
      <input
        #fileInput
        hidden
        type="file"
        id="card-scanner-from-file"
        accept="image/*"
        multiple="false"
        (change)="decodeFromFile($any($event))" />
    </button>
    <button
      mat-button
      (click)="close()">
      {{ 'GENERAL.CLOSE' | translate }}
    </button>
  </section>
</div>
