:host {
  .mat-dialog-content {
    overflow: hidden;
    padding: 0;

    &-video {
      width: 100%;
      height: 100%;
    }
  }

  .mat-dialog-actions {
    margin-top: auto;
    gap: 8px;
  }
}
