<mat-sidenav-container class="app-side-nav">
  <mat-sidenav
    mode="push"
    [opened]="sidenavOpened"
    (openedChange)="sidenavOpened = $event">
    <mat-nav-list
      aria-label="Main navigation"
      (click)="sidenavOpened = false">
      @for (item of links$ | async; track item) {
      <a
        mat-list-item
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        (click)="item.onClick ? item.onClick() : null">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-side-nav-content">
    @if (showToolbar$ | async) {
    <mat-toolbar
      ><button
        mat-icon-button
        (click)="sidenavOpened = !sidenavOpened">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ 'GENERAL.TITLE' | translate }}</span>
    </mat-toolbar>
    }
    <section class="app-side-nav-content-outlet">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
