@if (isAuthorized$ | async) { @defer {
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    mode="push"
    [opened]="sidenavOpened"
    (openedChange)="sidenavOpened = $event">
    <mat-nav-list
      class="sidenav-list"
      aria-label="Main navigation"
      (click)="sidenavOpened = false">
      @for (item of links$ | async; track item) {
      <a
        mat-list-item
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        (click)="item.onClick ? item.onClick() : null">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container-content">
    <mat-toolbar class="sidenav-container-content-toolbar">
      <button
        mat-icon-button
        (click)="sidenavOpened = !sidenavOpened">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="sidenav-container-content-toolbar-title">
        {{ 'GENERAL.TITLE' | translate }}
      </span>
      @if (isOffline$ | async) {
      <section class="sidenav-container-content-toolbar-connection">
        {{ 'GENERAL.CONNECTION' | translate }}
        <mat-icon iconPositionEnd
          ><mat-spinner [diameter]="24"></mat-spinner>
        </mat-icon>
      </section>
      }
    </mat-toolbar>
    <section class="sidenav-container-content-outlet">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
} } @else {
<router-outlet></router-outlet>
}
