@use 'mixins' as mx;

:host {
  @include mx.floating-card;

  .auth-form {
    @include mx.floating-card-surface;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .auth-form-field {
      width: 100%;
    }

    .auth-form-buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
