networks:
  cardholder_pwa:
    driver: bridge
services:
  app:
    image: quenary/cardholder_pwa:latest
    restart: unless-stopped
    volumes:
      - $HOME/.cardholder_pwa:/cardholder_pwa
    networks:
      - cardholder_pwa
    ports:
      - "80:80"