@use 'mixins' as mx;

.card-form {
  @include mx.flex-container(3, 600px);

  &-scan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--mat-sys-primary-container);
    gap: 16px;
    padding: 16px;

    &-viewer {
      min-width: 160px;
      min-height: 160px;
    }
  }
  &-codes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .card-form-field {
      width: 100%;
    }
  }
  &-field {
    input[type='color'] {
      height: 40px;
    }
  }

  &-buttons {
    @include mx.flex-container-buttons;
  }
}
