<form
  [formGroup]="form"
  class="card-form flex-form"
  (submit)="onSubmit()">
  <section class="card-form-scan">
    <button
      mat-fab
      type="button"
      (click)="scanCode()">
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    @if (form.value | isValidCard) { @defer {
    <app-card-code-viewer
      class="card-form-scan-viewer"
      [card]="$any(form.value)"
      (OnNewType)="form.controls.code_type.setValue($event)">
    </app-card-code-viewer>
    } }
  </section>

  @if (card$ | async | isOldCodeType) {
  <span [style.color]="'var(--mat-sys-error)'">
    {{ 'CARDS.CARD.CODE_FORMAT_WARN' | translate }}
  </span>
  }

  <section class="card-form-codes">
    <mat-form-field class="card-form-field">
      <mat-label aria-required="true">{{
        'CARDS.CARD.CODE' | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        id="card-code"
        formControlName="code" />
    </mat-form-field>

    <mat-form-field class="card-form-field">
      <mat-label aria-required="true">
        {{ 'CARDS.CARD.CODE_TYPE' | translate }}
      </mat-label>
      <mat-autocomplete #codeTypeAutocomplete="matAutocomplete">
        @for (codeType of codeTypeAutocompleteList$ | async; track codeType) {
        <mat-option [value]="codeType">{{ codeType }}</mat-option>
        }
      </mat-autocomplete>
      <input
        matInput
        type="text"
        id="card-code-type"
        formControlName="code_type"
        [matAutocomplete]="codeTypeAutocomplete" />
    </mat-form-field>
  </section>

  <mat-form-field class="card-form-field">
    <mat-label aria-required="true">{{
      'CARDS.CARD.NAME' | translate
    }}</mat-label>
    <input
      matInput
      type="text"
      id="card-name"
      formControlName="name" />
  </mat-form-field>
  <mat-form-field class="card-form-field">
    <mat-label>{{ 'CARDS.CARD.DESCRIPTION' | translate }}</mat-label>
    <textarea
      matInput
      type="text"
      id="card-description"
      formControlName="description">
    </textarea>
  </mat-form-field>

  <mat-form-field class="card-form-field">
    <mat-label>{{ 'CARDS.CARD.COLOR' | translate }}</mat-label>
    <input
      matInput
      type="color"
      id="card-color"
      formControlName="color" />
    @if (form.controls.color.value) {
    <button
      mat-icon-button
      matSuffix
      (click)="form.controls.color.setValue(null)">
      <mat-icon>clear </mat-icon>
    </button>
    }
  </mat-form-field>

  <section class="card-form-buttons">
    @if (canDelete$ | async) {
    <button
      class="warn-color"
      mat-button
      type="button"
      [disabled]="isLoading$ | async"
      (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      {{ 'GENERAL.DELETE' | translate }}
    </button>
    }
    <button
      mat-button
      routerLink="/cards"
      type="button"
      [disabled]="isLoading$ | async">
      <mat-icon>close</mat-icon>
      {{ 'GENERAL.CLOSE' | translate }}
    </button>
    <button
      mat-flat-button
      type="submit"
      [disabled]="(isLoading$ | async) || !(hasChanges$ | async)">
      {{ 'GENERAL.SAVE' | translate }}
      <mat-icon>save</mat-icon>
      @if (isLoading$ | async) {
      <mat-icon iconPositionEnd
        ><mat-spinner [diameter]="15"></mat-spinner
      ></mat-icon>
      }
    </button>
  </section>
</form>
