@import 'mixins';

:host {
  @include floating-card;

  .password-recovery-submit {
    @include floating-card-surface;

    &-header {
      width: 100%;
      text-align: center;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      gap: 16px;

      &-field {
        width: 100%;
      }
      &-hints {
        @include form-password-hints;
      }
      &-buttons {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 8px;
      }
    }
  }
}
