@use 'mixins' as mx;

:host {
  @include mx.component-host;

  .user-component {
    &-form {
      @include mx.flex-container(2, 600px);

      &-checkbox {
        display: inline-flex;
        width: 100%;
        flex-basis: 100%
      }
      &-password-hints {
        @include mx.form-password-hints;
      }
      &-buttons {
        @include mx.flex-container-buttons;
      }
    }
  }
}
