<div class="register-component">
  <h1 class="register-component-header">{{
    'REGISTER.NEW_ACCOUNT' | translate
  }}</h1>
  <app-user-form (OnSubmit)="onSubmit($event)">
    <section class="register-component-buttons">
      <button
        mat-flat-button
        type="submit"
        [disabled]="isLoading">
        {{ 'REGISTER.SIGNUP' | translate }}
        <mat-icon>person_add</mat-icon>
        @if (isLoading) {
        <mat-icon iconPositionEnd
          ><mat-spinner [diameter]="15"></mat-spinner
        ></mat-icon>
        }
      </button>
      <button
        mat-button
        routerLink="/auth"
        type="button"
        [disabled]="isLoading">
        <mat-icon>login</mat-icon>
        {{ 'REGISTER.SIGNIN' | translate }}
      </button>
    </section>
  </app-user-form>
</div>
