@import 'mixins';

:host {
  @include floating-card;

  .register-component {
    @include floating-card-surface;

    &-header {
      width: 100%;
      text-align: center;
    }
    &-buttons {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: auto;
      gap: 8px;
    }
  }
}
