@use 'mixins' as mx;

:host {
  @include mx.floating-card;

  .register-component {
    @include mx.floating-card-surface;

    &-header {
      width: 100%;
      text-align: center;
    }
    &-form {
      @include mx.flex-container(2, 600px);

      &-password-hints {
        @include mx.form-password-hints;
      }
      &-buttons {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
