@use 'mixins' as mx;

:host {
  @include mx.floating-card;

  .register-component {
    @include mx.floating-card-surface;

    &-header {
      width: 100%;
      text-align: center;
    }
    &-form {
      &-password-hints {
        @include mx.form-password-hints;
      }
      &-buttons {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 8px;
      }
    }
  }
}
