<h2 mat-dialog-title>{{ title | translate }}</h2>
@if (subtitle) {
  <mat-dialog-content>
    @if (addCheckbox) {
      <mat-checkbox
        [checked]="confirmCheckbox()"
        (change)="confirmCheckbox.set($event.checked)">
      </mat-checkbox>
    }
    <span>{{ subtitle | translate }}</span>
  </mat-dialog-content>
}
<mat-dialog-actions>
  <button
    mat-button
    (click)="cancel()">
    {{ cancelText | translate }}
  </button>
  <button
    mat-flat-button
    [disabled]="addCheckbox && !confirmCheckbox()"
    (click)="confirm()">
    {{ confirmText | translate }}
  </button>
</mat-dialog-actions>
