// Mixins for "floating" cards like auth or register components
@mixin floating-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
@mixin floating-card-surface {
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}
@mixin form-password-hints {
  padding-left: 20px;
  margin: unset;
  width: 100%;
  padding-bottom: 20px;
}
@mixin component-host {
  display: block;
  padding: 16px 16px 40px 16px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  position: relative;
}
@mixin mat-table {
  table {
    width: 100%;
    table-layout: fixed;

    th,
    td {
      padding: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
