/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: var(--mat-sys-background);

  * {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// TODO add dark and light theme or maybe theme selection by color

.flex-form {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 16px;

  & > * {
    width: 100%;
  }

  @media (width > 500px) {
    & > * {
      width: calc(50% - 8px);
    }
  }
}

.animated-placeholder {
  animation-name: placeholderAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes placeholderAnimation {
  0%,
  100%,
  75% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
