<div class="about-component">
  <mat-list>
    <a
      role="navigation"
      mat-list-item
      href="https://github.com/Quenary/cardholder_pwa"
      target="_blank">
      <span matListItemTitle>
        {{ 'ABOUT.HOMEPAGE' | translate }}
      </span>
      <mat-icon matListItemIcon>open_in_new</mat-icon>
    </a>
    @if (version$ | async; as version) {
    <mat-list-item role="">
      <span matListItemTitle>
        {{ 'ABOUT.IMAGE_VERSION' | translate }} {{ version.image_version }}
      </span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>
        {{ 'ABOUT.BACKEND_VERSION' | translate }} {{ version.app_version }}
      </span>
    </mat-list-item>
    }
    <mat-list-item>
      <span matListItemTitle>
        {{ 'ABOUT.FRONTEND_VERSION' | translate }}
        {{ frontendVersion$ | async }}
      </span>
    </mat-list-item>
  </mat-list>
</div>
