<div class="about-component">
  <mat-list role="list">
    <mat-list-item>
      <a href="https://github.com/Quenary/cardholder_pwa" target="_blank">
        {{'ABOUT.HOMEPAGE' | translate}}
      </a>
    </mat-list-item>
    @if (version$ | async; as version) {
    <mat-list-item role="listitem">
      {{ 'ABOUT.IMAGE_VERSION' | translate }} {{ version.image_version }}
    </mat-list-item>
    <mat-list-item role="listitem">
      {{ 'ABOUT.BACKEND_VERSION' | translate }} {{ version.app_version }}
    </mat-list-item>
    }
    <mat-list-item role="listitem">
      {{ 'ABOUT.FRONTEND_VERSION' | translate }} {{ frontendVersion }}
    </mat-list-item>
  </mat-list>
</div>
